<div class="card">
  <!-- <div class="card-header">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">

    </div>
  </div> -->
  <div class="card-body">
    <table class="table table-sm table-hover table-bordered">
      <tr>
        <th>名称</th>
        <th>标签</th>
        <th>code</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let c of categories$ | async">
        <td>{{c.name}}</td>
        <td>{{c.tags}}</td>
        <td>{{c.code}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-outline-success">添加</button>
            <button class="btn btn-outline-warning mx-1">编辑</button>
            <button class="btn btn-outline-danger">删除</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- <div class="card-footer"></div> -->
</div>
