<div class="card">
  <div class="card-header">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a routerLink="add" class="btn btn-outline-success">新增</a>
      <a routerLink="add" class="btn btn-outline-danger">删除</a>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">书籍名称</th>
          <th scope="col">作者</th>
          <th scope="col">描述</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.desc}}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-outline-success">+</button>
              <button type="button" class="btn btn-sm btn-outline-danger">-</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
