<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="name">书籍名称: </label>
        <input type="text" class="form-control" id="name" name="name" placeholder="请输入书籍名称" [(ngModel)]="category.name">
      </div>
      <!-- <div class="form-group">
        <label for="author">作者: </label>
        <input type="text" class="form-control" id="author" name="author" placeholder="请输入书籍作者" [(ngModel)]="category.author">
      </div> -->

      <!-- <div class="form-group">
        <label for="desc">描述: </label>
        <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="请输入书籍描述" [(ngModel)]="category.desc"></textarea>
      </div> -->

      <div class="form-group">
        <button class="btn btn-success" (click)="doSubmit()">确定</button>
      </div>

    </form>
  </div>
</div>
